@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	/*cursor: none;*/
}
html {
	font-size: 8px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
p {
	font-size: 1.5rem;
	color: 	black;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 0;
	text-align: justify;
	animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
.services p{
	text-align: center;
}
.section-title {
	font-size: 5rem;
	font-weight: 300;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
}
.section-title span {
	color: brown;
}

.mini-section {
	text-align: left;
	font-size: medium;
}
.cta {
	display: inline-block;
	padding: 10px 30px;
	color: white;
	background-color: transparent;
	border: 2px solid brown;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-top: 30px;
	transition: 0.3s ease;
	transition-property: background-color, color;
}
.cta:hover {
	color: white;
	background-color: brown;
}
.cta:hover h5{
	color: white;
}
.cta2 {
	display: inline-block;
	padding: 5px 20px;
	color: white;
	background-color: transparent;
	border: 2px solid brown;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-top: 30px;
	transition: 0.3s ease;
	transition-property: background-color, color;
}
.cta2:hover {
	color: white;
	background-color: brown;
}
.cta2:hover h4{
	color: black;
}
.brand h1 {
	font-size: 3rem;
	/*text-transform: uppercase;*/
	color: white;
	text-align: center;
}
.brand h1 span {
	color:rgb(188, 67, 67);
}

/* Header section */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 8vh;
	background-color: rgba(31, 30, 30, 0.24);
	transition: 0.3s ease background-color;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: 0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: brown;
}
#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
	margin-right: 20px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: 0.3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
/* End Header section */

/* Home Section */
#home {
	background-image: url(../img/bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	display: flex;
	position: relative;
	z-index: 1;
}
#home::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.7;
	z-index: -1;
}
#home .home {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}
#home h1 {
	display: block;
	width: fit-content;
	font-size: 3.9rem;
	position: relative;
	color: transparent;
	animation: text_reveal 0.5s ease forwards;
	animation-delay: 1s;
}
#home p{
	font-size: 4rem;
}
#home h1:nth-child(1) {
	animation-delay: 1s;
}
#home h1:nth-child(2) {
	animation-delay: 2s;
}
#home h1:nth-child(3) {
	animation: text_reveal_name 0.5s ease forwards;
	animation-delay: 3s;
}
#home h1 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color:white;
	animation: text_reveal_box 1s ease;
	animation-delay: 0.5s;
}
#home h1:nth-child(1) span {
	animation-delay: 0.5s;
}
#home h1:nth-child(2) span {
	animation-delay: 1.5s;
}
#home h1:nth-child(3) span {
	animation-delay: 2.5s;
}
/* End Home Section */

/* Services Section */
#services .services {
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 0;
}
#services .service-top {
	max-width: 500px;
	margin: 0 auto;
}
#services .service-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 50px;
}
#services .service-item {
	flex-basis: 80%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding: 30px;
	border-radius: 10px;
	background-image: url(./img/img-1.png);
	background-size: cover;
	margin: 10px 5%;
	position: relative;
	z-index: 1;
	overflow: hidden;
}
#services .service-item::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: 0.9;
	z-index: -1;
}
#services .service-bottom .icon {
	height: 80px;
	width: 80px;
	margin-bottom: 20px;
}
#services .service-item h2 {
	font-size: 2rem;
	color: white;
	margin-bottom: 10px;
	text-transform: uppercase;
}
#services .service-item p {
	color: white;
	text-align: justify;
}
/* End Services Section */

/* Projects section */
#projects .projects {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
}
#projects .projects-header h1 {
	margin-bottom: 50px;
}
#projects .all-projects {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#projects .project-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 80%;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 10px;
}
#projects .project-info {
	padding: 30px;
	flex-basis: 50%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	color: white;
}
#projects .project-info h1 {
	font-size: 4rem;
	font-weight: 500;
}
#projects .project-info h2 {
	font-size: 1.8rem;
	font-weight: 500;
	margin-top: 10px;
}
#projects .project-info p {
	color: white;
}
#projects .project-img {
	flex-basis: 50%;
	height: 300px;
	overflow: hidden;
	position: relative;
}
#projects .project-img:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: 0.7;
}
#projects .project-img img {
	transition: 0.3s ease transform;
}
#projects .project-item:hover .project-img img {
	transform: scale(1.1);
}
/* End Projects section */

/* About Section */
#about .about {
	flex-direction: column-reverse;
	text-align: center;
	max-width: 1300px;
	margin: 0 auto;
	padding: 100px 20px;
}
#about .col-left {
	width: 250px;
	height: 360px;
}
#about .col-right {
	width: 100%;
}
#about .col-right h2 {
	font-size: 1.8rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	margin-bottom: 10px;
}
#about .col-right p {
	margin-bottom: 20px;
}
#about .col-right .cta {
	color: #29323c;
	margin-bottom: 50px;
	padding: 10px 20px;
	font-size: 2rem;
}
#about .col-left .about-img {
	height: 100%;
	width: 100%;
	position: relative;
	border: 10px solid white;
}
#about .col-left .about-img::after {
	content: '';
	position: absolute;
	left: -33px;
	top: 19px;
	height: 98%;
	width: 98%;
	border: 7px solid brown;
	z-index: -1;
}
/* End About Section */

/* contact Section */
#contact h1 {
	text-align: center;
}
#contact h2{
	text-align: center;
}
#contact .contact {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	width: 90%;
}
#contact .contact-items {
	/* max-width: 400px; */
	width: 100%;
}
#contact .contact-item {
	width: 80%;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	padding: 30px;
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 18px 0 #0000002c;
	transition: 0.3s ease box-shadow;
	box-align: center;
}
#contact .contact-item:hover {
	box-shadow: 0px 0px 5px 0 #0000002c;
}
#contact .icon {
	width: 70px;
	margin: 0 auto;
	margin-bottom: 10px;
}
#contact .contact-info h1 {
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 5px;
}
#contact .contact-info h2 {
	font-size: 1.5rem;
	line-height: 2rem;
	font-weight: 500;
}
/*End contact Section */

/* Footer */
#footer {
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer .footer {
	min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}
#footer h2 {
	color: white;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: 0.1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}
#footer .social-icon {
	display: flex;
	margin-bottom: 30px;
}
#footer .social-item {
	height: 25px;
	width: 25px;
	margin: 0 5px;
}
#footer .social-item img {
	filter: grayscale(1);
	transition: 0.3s ease filter;
	
}
#footer .social-item:hover img {
	filter: grayscale(0);
}
#footer p {
	color: white;
	/*font-size: 1.3rem;*/
	text-align: center;
}
/* End Footer */

/* Keyframes */
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: white;
	}
}
@keyframes text_reveal_name {
	100% {
		color:white;
		font-weight: 500;
	}
}
/* End Keyframes */

/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
	.cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	h1.section-title {
		font-size: 6rem;
	}

	/* Hero */
	#hero h1 {
		font-size: 7rem;
	}
	/* End Hero */

	/* Services Section */
	#services .service-bottom .service-item {
		flex-basis: 45%;
		margin: 2.5%;
	}
	/* End Services Section */

	/* Project */
	#projects .project-item {
		flex-direction: row;
	}
	#projects .project-item:nth-child(even) {
		flex-direction: row-reverse;
	}
	#projects .project-item {
		height: 400px;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}
	#projects .all-projects .project-info {
		height: 100%;
	}
	#projects .all-projects .project-img {
		height: 100%;
	}
	/* End Project */

	/* About */
	#about .about {
		flex-direction: row;
	}
	#about .col-left {
		width: 600px;
		height: 400px;
		padding-left: 60px;
	}
	#about .about .col-left .about-img::after {
		left: -45px;
		top: 34px;
		height: 98%;
		width: 98%;
		border: 10px solid brown;
	}
	#about .col-right {
		text-align: left;
		padding: 30px;
	}
	#about .col-right h1 {
		text-align: left;
	}
}
	/* End About */

	/* contact  */
	@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
	#contact .contact {
		flex-direction: column;
		padding: 100px 0;
		align-items: center;
		justify-content: center;
		min-width: 20vh;
	}
	#contact .contact-items {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 0;
	}
	#contact .contact-item {
		width: 50%;
		color: #29323c;
		/*margin: 0;*/
		/*flex-direction: row;*/
	}
	#contact .contact-item .icon {
		height: 100px;
		width: 100px;
	}
	#contact .contact-item .icon img {
		object-fit: contain;
	}
	#contact .contact-item .contact-info {
		width: 100%;
		text-align: left;
		padding-left: 20px;
	}
	#contact :root {
		--text-color: #000000;
		--bg-color: #222222;
	}
	@media screen and (min-width: 968px) {
		:root {
		  --normal-font-size: 1rem;
		}}
	.card__container {
		display: flex;
		flex-wrap: wrap;
		gap: 60px;
		justify-content: center;
		width: 100%;
		max-width: 90%;
		margin: auto;
		padding: 60px 0;
	  }
	  .card__bx {
		--dark-color: #2e2e2e;
		--dark-alt-color: #777777;
		--white-color: #ffffff;
		--button-color: #333333;
		--transition: 0.5s ease-in-out;
	  
		font-family: inherit;
		height: 350px;
		width: 300px;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		background: var(--dark-color);
		transition: var(--transition);
	  }
	  .card__bx::before,
	  .card__bx::after {
		content: "";
		position: absolute;
		z-index: -1;
		transition: var(--transition);
	  }
	  .card__bx::before {
		inset: -10px 50px;
		border-top: 4px solid var(--clr);
		transform: skewY(15deg);
		border-bottom: 4px solid var(--clr);
	  }
	  .card__bx:hover::before {
		inset: -10px 40px;
		transform: skewY(0deg);
	  }
	  .card__bx::after {
		inset: 60px -10px;
		border-left: 4px solid var(--clr);
		transform: skew(15deg);
		border-right: 4px solid var(--clr);
	  }
	  .card__bx:hover::after {
		inset: 40px -10px;
		transform: skew(0deg);
	  }
	  .card__bx .card__data {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 30px;
		text-align: center;
		padding: 0 20px;
		height: 100%;
		width: 100%;
		overflow: hidden;
	  }
	  .card__bx .card__data .card__icon {
		height: 80px;
		width: 80px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 3rem;
		color: var(--text-color);
		background-color: var(--dark-color);
		transition: var(--transition);
	  }
	  .card__bx .card__data .card__icon {
		color: var(--clr);
		box-shadow: 0 0 0 4px var(--dark-color), 0 0 0 6px var(--clr);
	  }
	  .card__bx:hover .card__data .card__icon {
		color: var(--dark-color);
		background-color: var(--clr);
		box-shadow: 0 0 0 4px var(--dark-color), 0 0 0 300px var(--clr);
	  }
	  .card__bx .card__data .card__content {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 10px;
	  }
	  .card__bx .card__data h3 {
		font-size: 3.5rem;
		font-weight: 800;
		color: var(--white-color);
		transition: var(--transition);
	  }
	  .card__bx:hover .card__data h3 {
		color: var(--dark-color);
		transition: var(--transition);
	  }
	  .card__bx .card__data p {
		font-size: 0.9rem;
		color: var(--dark-alt-color);
		transition: var(--transition);
	  }
	  .card__bx:hover .card__data p {
		color: var(--dark-color);
		transition: var(--transition);
	  }
	  .card__bx .card__data a {
		position: relative;
		display: inline-flex;
		padding: 8px 15px;
		text-decoration: none;
		font-weight: 500;
		font-size: 100%;
		margin-top: 10px;
		border: 2px solid var(--clr);
		color: var(--dark-color);
		background-color: var(--clr);
		transition: var(--transition);
	  }
	  .card__bx:hover .card__data a {
		color: var(--clr);
		background-color: var(--dark-color);
	  }
	  .card__bx:hover .card__data a:hover {
		border-color: var(--dark-color);
		color: var(--dark-color);
		background-color: var(--clr);
	  }
	  .card__content .h3 {
		font-size: medium;
	  }
	/* End contact  */
/*portfolio*/

	
#portfolio_section{
    padding: 100px 0px;
	background-color: #000;
}

#portfolio_section h1{
    color: #fff;
    font-size: 50px;
    text-align: center;
}
.portfolio_all_card{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.portfolio_card{
    width:360px;
    height: auto;
    margin-top: 20px;
    position: relative;
}
.portfolio_card img{
    width: 100%;
    display: block;
    margin: auto;
}
.portfolio_card_info{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    background: rgb(0, 0, 0,0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 70px;
    text-align: center;
    opacity: 0;
    transition: 0.6s;
}
.portfolio_card_info:hover{
    opacity: 1;
}
.portfolio_card_info>*{
    transform: translateY(25px);
    transition: transform 0.6s;
}
.portfolio_card_info:hover>*{
    transform: translateY(0px);
    
}
.portfolio_card_info h2{
    color:#fff;
    font-size: 25px;
}
.portfolio_card_info p{
    color:#fff;
}
.portfolio_card_info .button{
    width: 90px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: var(--secondary);
    color:#000;
    margin-top:5px;
}
/*end of portfolio*/
/* End Media Query For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
	/* header */
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	/* End header */

	#services .service-bottom .service-item {
		flex-basis: 22%;
		margin: 1.5%;
	}
}
/* End  Media Query For Desktop */
.brand img{
	height: 90px;
	width: 80px;
	object-fit: cover;
}
/* scroll btn*/
.scroll-down {
	height: 40px;
	width: 40px;
	border: 2px solid white;
	position: absolute;
	left: 48%;
	bottom: 20px;
	border-radius: 20px;
	cursor: pointer;
  }
  .scroll-down::before,
  .scroll-down::after {
	content: "";
	position: absolute;
	top: 40%;
	left: 49%;
	height: 8px;
	width: 8px;
	transform: translate(-50%, -100%) rotate(45deg);
	border: 2px solid white;
	border-top: transparent;
	border-left: transparent;
	animation: scroll-down 1s ease-in-out infinite;
  }
  .scroll-down::before {
	top: 30%;
	animation-delay: 0.3s;
	/* animation: scroll-down 1s ease-in-out infinite; */
  }
  
  @keyframes scroll-down {
	0% {
	  top:20%;
	  opacity: 0;
	}
	30% {
	  opacity: 1;
	}
	60% {
	  opacity: 1;
	}
	100% {
	  top: 90%;
	  opacity: 0;
	}
  }
  .skills_head p{
	color: wh;
  }
  /* end scroll btn*/
  
  #myBtn {
	display: none; /* Hidden by default */
	position: fixed; /* Fixed/sticky position */
	bottom: 120px; /* Place the button at the bottom of the page */
	right: 20px; /* Place the button 30px from the right */
	z-index: 100; /* Make sure it does not overlap */
	border: none; /* Remove borders */
	outline: none; /* Remove outline */
	background-color:#bc4343 ; /* Set a background color */
	color: black; /* Text color */
	cursor: pointer; /* Add a mouse pointer on hover */
	padding: 15px; /* Some padding */
	border-radius: 10px; /* Rounded corners */
	font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
	background-color:#29323c; /* Add a dark-grey background on hover */
	color:black;/* Text Color*/
  }
  #myBtn:hover h4{
	color: white;
  }
/* cursor*/
/*.cursor {
	position: absolute;
	height: 25px;
	width: 25px;
	border-radius:50%;
}
.outer{
	border: 1px solid #bc4343;
}
.inner{
	background: #bc4343;
}*/
/* end of cursor*/
/* skills bar*/
/*
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Rancho&family=Water+Brush&display=swap');

.skills_section{
    width: 100%;
    height: 100vh;
    padding: 0px 13%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.skills_head{
    width: 100%;
    margin-bottom: 100px;
    display: grid;
    place-items: center;
    text-align: center;
}
.skills_head h2{
    font-size: 30px;
    margin-bottom: -5px;
}
.skills_head h2 span{
    color: brown;
}
.skills_main{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 50px;
}
.skills_main .skill_bar .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0 10px;
}
.skill_bar .info p:nth-child(2){
    font-weight: 500;
}
.skill_bar .bar{
    width: 100%;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.144);
    border-radius: 25px;
    margin-top: 5px;
    position: relative;
}
.skill_bar .bar span{
    width: 50%;
    height: 100%;
    position: absolute;
    background-color: brown;
    border-radius: 25px;
}
.skill_bar .bar .html{
    width: 90%;
    animation: html 2s;
}
@keyframes html {
    0%{
        width: 0%;
    }100%{
        width: 90%;
    }
}
.skill_bar .bar .css{
    width: 85%;
    animation: css 2s;
}
@keyframes css {
    0%{
        width: 0%;
    }100%{
        width: 85%;
    }
}
.skill_bar .bar .sass{
    width: 80%;
    animation: sass 2s;
}
@keyframes sass {
    0%{
        width: 0%;
    }100%{
        width: 80%;
    }
}
.skill_bar .bar .js{
    width: 80%;
    animation: css 2s;
}
@keyframes js {
    0%{
        width: 0%;
    }100%{
        width: 80%;
    }
}
.skill_bar .bar .react{
    width: 75%;
    animation: react 2s;
}
@keyframes react {
    0%{
        width: 0%;
    }100%{
        width: 75%;
    }
}
.skill_bar .bar .node{
    width: 70%;
    animation: node 2s;
}
@keyframes node {
    0%{
        width: 0%;
    }100%{
        width: 70%;
    }
}
.skill_bar .bar .express{
    width: 65%;
    animation: express 2s;
}
@keyframes express {
    0%{
        width: 0%;
    }100%{
        width: 65%;
    }
}
.skill_bar .bar .mongo{
    width: 60%;
    animation: mongo 2s;
}
@keyframes mongo {
    0%{
        width: 0%;
    }100%{
        width: 60%;
    }
}

.skill_bar .bar .mongo {
	width:60%;
	animation: mongo 2s;
}
@keyframes mongo {
	0%{
		width: 0%;
	} 100%{
		width:60%;
	}
}
.skill_bar .bar .mongo {
	width:55%;
	animation: mongo 2s;
}
@keyframes mongo {
	0%{
		width: 0%;
	} 100%{
		width:55%;
	}
}*/
/* skills bar close */

/*works card list */
.slider-wrapper {
	position: relative;
  }
  .slider-wrapper .slide-button {
	position: absolute;
	top: 50%;
	outline: none;
	border: none;
	height: 50px;
	width: 50px;
	z-index: 5;
	color: #fff;
	display: flex;
	cursor: pointer;
	font-size: 2.2rem;
	background: #000;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	transform: translateY(-50%);
  }
  .slider-wrapper .slide-button:hover {
	background: #404040;
  }
  .slider-wrapper .slide-button#prev-slide {
	left: -25px;
	display: none;
  }
  .slider-wrapper .slide-button#next-slide {
	right: -25px;
  }
  .slider-wrapper .image-list {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	gap: 18px;
	font-size: 0;
	list-style: none;
	margin-bottom: 30px;
	overflow-x: auto;
	scrollbar-width: none;
  }
  .slider-wrapper .image-list::-webkit-scrollbar {
	display: none;
  }
  .slider-wrapper .image-list .image-item {
	width: 325px;
	height: 400px;
	object-fit: cover;
  }
  .container .slider-scrollbar {
	height: 24px;
	width: 100%;
	display: flex;
	align-items: center;
  }
  .slider-scrollbar .scrollbar-track {
	background: #ccc;
	width: 100%;
	height: 2px;
	display: flex;
	align-items: center;
	border-radius: 4px;
	position: relative;
  }
  .slider-scrollbar:hover .scrollbar-track {
	height: 4px;
  }
  .slider-scrollbar .scrollbar-thumb {
	position: absolute;
	background: #000;
	top: 0;
	bottom: 0;
	width: 50%;
	height: 100%;
	cursor: grab;
	border-radius: inherit;
  }
  .slider-scrollbar .scrollbar-thumb:active {
	cursor: grabbing;
	height: 8px;
	top: -2px;
  }
  .slider-scrollbar .scrollbar-thumb::after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: -10px;
	bottom: -10px;
  }
  /* Styles for mobile and tablets */
  @media only screen and (max-width: 1023px) {
	.slider-wrapper .slide-button {
	  display: none !important;
	}
	.slider-wrapper .image-list {
	  gap: 10px;
	  margin-bottom: 15px;
	  scroll-snap-type: x mandatory;
	}
	.slider-wrapper .image-list .image-item {
	  width: 280px;
	  height: 380px;
	}
	.slider-scrollbar .scrollbar-thumb {
	  width: 20%;
	}
  }
/*works card list end*/
/* typing text effect*/
.textc {
	display: flex;
	align-items: center;
	justify-content: center;
  }
  

  h1{
	color: black;
	font-size: 50px;
  }
  
  span{
	color: #bc4343;
  }
  .text.sec-text:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #010718;
    border-left: 2px solid #4070F4;
    animation: animate 4s steps(12) infinite;
}

/* preLoader */
#Preloader{
	background: rgb(31, 30, 30) url(../img/pi.gif) no-repeat center center;
	background-size: 150px;
	display: flex;
	height: 100vh;
	width: 100%;
	position: fixed;
	justify-content: center;
	position: flex;
	z-index: 99999;
}
#header #Preloader{
	visibility: hidden;
}
.float-button #Preloader{
	visibility: hidden;
}
.float-button-text #Preloader{
	visibility: hidden;
}
/* end of preloader*/
/*floating photo Effect*/
.space img{
    width: 200px;
    height: 200px;
    size: 100%;
    position:absolute;
    left: 43%;
    top: 21%;
    animation: fadeInFormTop .1s linear forwards, floatingback ease 20s infinite;
}
.space-iteam img{
	width: 100px;
    height: 90px;
    size: 100%;
    position:absolute;
    left: 10%;
    top: 20%;
    animation: fadeInFormTop .1s linear forwards, floatingbacki ease 15s infinite;
}
.space-iteam2 img{
	width: 100px;
    height: 90px;
    size: 100%;
    position:absolute;
    left: 30%;
    top: 60%;
    animation: fadeInFormDown .1s linear forwards, floatingbackii ease 20s infinite;
}
.space-iteam3 img{
	width: 100px;
    height: 100px;
    size: 100%;
    position:absolute;
    left: 40%;
    top: 10%;
    animation: fadeInFormn .1s linear forwards, floatingbackiii ease 25s infinite;
}
@keyframes fadeInFormTop{
    from{
        opacity: 0;
        transform: translateY(-20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeInFormn{
    from{
        opacity: 0;
        transform: translateY(-40px);
    }
    to{
        opacity: 1;
        transform: translateY(5);
    }
}
@keyframes floatingTop{
    0%{
        transform: translate(0%,0%) rotate(360deg);
    }
    25%{
        transform: translate(5%,15%) rotate(360deg);
    }
    50%{
        transform: translate(10%,5%) rotate(360deg);
    }
    75%{
        transform: translate(0%,15%) rotate(360deg);
    }
    100%{
        transform: translate(0%,0%) rotate(360deg);
    }
}
@keyframes fadeInFormDown{
    from{
        opacity: 0;
        transform: translateY(-30px);
    }
    to{
        opacity: 1;
        transform: translateY(-1);
    }
}
@keyframes floatingback{
    0%{
        transform: translate(0%,0%) rotate(360deg);
    }
    25%{
        transform: translate(5%,15%) rotate(360deg);
    }
    50%{
        transform: translate(10%,5%) rotate(360deg);
    }
    75%{
        transform: translate(0%,15%) rotate(360deg);
    }
    100%{
        transform: translate(0%,0%) rotate(360deg);
    }
}
@keyframes floatingbacki{
    0%{
        transform: translate(0%,0%) rotate(360deg);
    }
    25%{
        transform: translate(15%,5%) rotate(360deg);
    }
    50%{
        transform: translate(5%,10%) rotate(360deg);
    }
    75%{
        transform: translate(15%,0%) rotate(360deg);
    }
    100%{
        transform: translate(0%,0%) rotate(360deg);
    }
}
@keyframes floatingbackii{
    0%{
        transform: translate(0%,0%) rotate(360deg);
    }
    25%{
        transform: translate(15%,10%) rotate(360deg);
    }
    50%{
        transform: translate(10%,20%) rotate(360deg);
    }
    75%{
        transform: translate(0%,15%) rotate(360deg);
    }
    100%{
        transform: translate(0%,0%) rotate(360deg);
    }
}
@keyframes floatingbackiii{
    0%{
        transform: translate(0%,0%) rotate(360deg);
    }
    25%{
        transform: translate(20%,10%) rotate(360deg);
    }
    50%{
        transform: translate(10%,30%) rotate(360deg);
    }
    75%{
        transform: translate(0%,15%) rotate(360deg);
    }
    100%{
        transform: translate(0%,0%) rotate(360deg);
    }
}
/* ending of floating Photo Effect*/
/*scroll bar*/
  .sub-div {
	max-height: 100vh;
	overflow-y: scroll;
	/*Thumb color and background color for firefox */
	scrollbar-color: brown #010718;
	overflow-x: none;
  }
  /*  ::-webkit- is for chrome */
  ::-webkit-scrollbar {
	width: 1.2em;
	overflow-x: none;
  }
  ::-webkit-scrollbar-track {
	background-color: #010718;
	margin-block: 0.25em;
	border-radius: 0.3em;
  }
  ::-webkit-scrollbar-thumb {
	background: brown;
	background: -webkit-linear-gradient(to right, brown, brown);
	background: linear-gradient(to right, brown, brown);
	border-radius: 0.3em;
  }
/*end of scroll bar*/

/*popup card*/
.popup{
    background:url(../img/Cover\ 2.0.png);
	background-size: cover;
    width: 600px;
	height: 300px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
    font-family: "Poppins",sans-serif;
    display: none;
    text-align: center;
}
.popup button{
    display: block;
    margin:  0 0 20px auto;
    background-color: transparent;
    font-size: 40px;
    color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
}
.popup button:hover{
	color: #947777;
}
.popup p{
    font-size: 60px;
    text-align: justify;
    margin: 20px 0;
    line-height: 25px;
}
.popup h2{
	font-size: 45px;
	color: rgb(255, 255, 255);
	text-align: center;
	line-height: 75px;
}
.popup a{
    display: block;
    width: 150px;
	height: 60px;
    position: relative;
    margin: 10px auto;
    text-align: center;
	font-size: 35px;
	border-radius: 10em;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 5px 0;
}
.popup a:hover{
	color: rgb(0, 0, 0);
	background-color: rgb(255, 255, 255);
}
/*end of popup card*/
#footer a{
	color: #ff7b00;
}
#Portfolio {
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.gallery-track {
    position: fixed;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 0.25rem;
    padding: 0.25rem;
    will-change: transform;
  }
  
  .card {
    height: 400px;
    overflow: hidden;
  
& .card-image-wrapper {
      height: 135%;
      will-change: transform;
  
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  } 
  
  @media (width < 800px) {
    .gallery-track {
      grid-template-columns: repeat(2,1fr);
    }
  }
  
  @media (width < 550px) {
    .gallery-track {
      grid-template-columns: repeat(1,1fr);
    }
  }
  /*Donate button*/
  @import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');
  
  .float-button{
	font-family: 'Roboto', sans-serif;
	  position:fixed;
	  width:100px;
	  height:100px;
	  bottom:40px;
	  right:40px;
	  background-color:#ffffff;
	  color:brown;
	  border-radius:50px;
	border: 7px solid brown;
	  text-align:center;
	  box-shadow: 2px 2px 3px #ffffff;
	text-decoration: none;
	font-weight: 600;
	font-size: 22px;
	line-height: 22px;
	bottom: 10px; 
	right: 10px;
	z-index: 100;
  }
  
  .float-button-text {
	margin-top: 22px;
	text-align: center;
	bottom: 5px;
  }
  .float-button :hover{
	color: #000;
	
  }
  .float-button-text :hover{
	color: #ffffff;
  }
  /*End of donate button*/
  /*new top button*/
  #progress {
	position: fixed;
	bottom: 100px;
	right: 10px;
	height: 70px;
	width: 70px;
	display: none;
	place-items: center;
	border-radius: 50%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	cursor: pointer;
  }
  #progress-value {
	display: block;
	height: calc(100% - 15px);
	width: calc(100% - 15px);
	background-color: #ffffff;
	border-radius: 50%;
	display: grid;
	place-items: center;
	font-size: 35px;
	color: #001a2e;
  }
  #progress-value span{
	color: #bc4343;
  }
  /*end of new top button*/
.contact h3{
	text-align: center;
	font-size: 20px;
	font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
/*review card
.review {
	max-width: 30rem;
	background: #404c59;
	margin: 0 1rem;
	padding: 1rem;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	width: 50%;
	height: 50%;
	border-radius: 0.5rem;
	}
.review h1	{
		font-size: 25px;
		justify-content: center;
		color: white;
	}	
.review h3{
	font-size: 10px;
}
	.star {
	font-size: 5vh;
	cursor: pointer;
	}
	
	.one {
	color: rgb(255, 0, 0);
	}
	
	.two {
	color: rgb(255, 106, 0);
	}
	
	.three {
	color: rgb(251, 255, 120);
	}
	
	.four {
	color: rgb(255, 255, 0);
	}
	
	.five {
	color: rgb(24, 159, 14);
	}
	*/
/*end of review card*/